@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

$font: "Karla", sans-serif;

.light-off {
    fill: rgb(22, 21, 21);
}

.light-on {
    fill: gold;
}

.light {
    fill: rgb(17, 17, 17);
}

h1 {
    color: rgb(20, 19, 19);
    font-family: $font;
}

.btn {
    display: flex;
    flex-direction: row;
    .btn-off,
    .btn-on {
        cursor: pointer;
        width: 10rem;
        height: 2rem;
        cursor: pointer;
        border-style: none;
        outline: none;
        border-radius: 6px;
        color: rgb(255, 255, 255);
        font-size: 19px;
        margin: 2rem;
        transition: 0.3s ease-in-out all;
    }
    .btn-on {
        background-color: rgb(255, 255, 23);
        &:hover {
            background-color: rgb(207, 207, 0);
        }
    }
    .btn-off {
        background-color: rgb(46, 45, 43);
        &:hover {
            background-color: rgb(22, 20, 20);
        }
    }
}

.log-out {
    cursor: pointer;
    width: 24rem;
    height: 2rem;
    cursor: pointer;
    border-style: none;
    outline: none;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    font-size: 19px;
    margin: 2rem;
    background-color: rgb(66, 66, 243);
    transition: 0.3s ease-in-out all;
    &:hover {
        color: white;
        background: rgb(38, 5, 221);
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }
}